.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.emptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
}

.ordersList {
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 8px;
}

.ordersList::-webkit-scrollbar {
  width: 8px;
}

.ordersList::-webkit-scrollbar-track {
  background: #131316;
}

.ordersList::-webkit-scrollbar-thumb {
  background: #1c1c21;
  border-radius: 4px;
}
