.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  overflow-y: auto;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px 0 0;
  padding: 0;
  list-style: none;
}

.ingredients {
  height: 700px;
  overflow-y: auto;
}
